<%= form_for(@permissions_to_family) do |f| %>
  <% if @permissions_to_family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permissions_to_family.errors.count, "error") %> prohibited this permissions_to_family from being saved:</h2>

      <ul>
      <% @permissions_to_family.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :family %><br />
    <%= f.text_field :family %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-success"%>
  </div>
<% end %>
